@import "./index.css";
/*
.App {
  text-align: center;
}
*/
.Editor {
  margin: auto;
  background-color: rgb(17, 241, 167);
  min-height: 200px;
  min-width: 600px;
  max-width: 600px;
}

.EditorPanel {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}

#editor {
  overflow: scroll;
  overflow-x: hidden;
  resize: vertical;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  min-height: 200px;
  min-width: 600px;
  max-width: 600px;
  margin-bottom: -5px;
  background-color: var(--txt_bg-color);
}

.Preview {
  /*  padding-top: 20px;*/
  width: 800px;
  margin: auto;
  background-color: var(--txt_bg-color);
}

.PreviewText {
  margin: 15px;
  background-color: var(--txt_bg-color);
  padding-bottom: 20px;
}

.PreviewText img {
  height: 100%;
  /*  width: 700px;*/
  width: 80%;
  margin: auto;
  display: block;
  object-fit: scale-down;
}
/*
.PreviewText code {
  background-color: white;
}
*/
.Toolbar {
  min-height: 20px;
  max-height: 20px;
  background-color: rgb(15, 165, 115);
  box-sizing: border-box;
  width: 100%;
}

.Separator {
  height: 30px;
}
/*

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
*/
