@import "./index.css";
/*
.App {
  text-align: center;
}
*/
.Editor {
  margin: auto;
  background-color: rgb(17, 241, 167);
  min-height: 200px;
  min-width: 600px;
  max-width: 600px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.EditorPanel {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}

#editor {
  overflow: scroll;
  overflow-x: hidden;
  resize: vertical;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  min-height: 200px;
  min-width: 600px;
  max-width: 600px;
  margin-bottom: -5px;
  background-color: var(--txt_bg-color);
}

.Preview {
  /*  padding-top: 20px;*/
  width: 800px;
  margin: auto;
  background-color: var(--txt_bg-color);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.PreviewText {
  margin: 15px;
  padding-bottom: 20px;
}

.PreviewText img {
  height: 100%;
  /*  width: 700px;*/
  width: 80%;
  margin: auto;
  display: block;
  object-fit: scale-down;
}

.PreviewText th {
  border: 1px solid;
}

.PreviewText td {
  border: 1px solid;
}

.PreviewText table {
  width: 60%;
  border: 1px solid;
  border-spacing: 0px;
}

.PreviewText blockquote {
  margin-left: 2em;
  border-left: 2px rgb(146, 5, 92) solid;
  /*background-color: lightgrey;*/
}
.PreviewText blockquote > p {
  text-indent: 10px;
}

.Toolbar {
  display: flex;
  align-items: center;
  min-height: 30px;
  max-height: 30px;
  background-color: rgb(15, 165, 115);
  box-sizing: border-box;
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  justify-content: space-between;
  font-weight: bold;
  font-size: larger;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.Toolbar p {
  padding-left: 10px;
}

.IconResize:hover {
  cursor: pointer;
  color: rgb(145, 189, 174);
}

.Separator {
  height: 40px;
}
